<!--O metodo post envia os dados sem mostrar na url, agora o metodo get mostra na url-->
<form action="/signup" method="POST">

    <p>Nickname: </p>
    <input type='text' name ='nickname'>
    <p>Senha: </p>
    <input type="password" name = 'senha'>
    <button type="submit">Cadastrar</button>
</form>
