<!--O metodo post envia os dados sem mostrar na url, agora o metodo get mostra na url-->
<form action="/signup" method="POST">

    <p>Nickname: </p>
    <input type='text' name ='nickname'>
    <p>Your opinion: </p>
    <textarea id="conteudo" name="conteudo" rows="10" cols="30"></textarea>
    <button type="submit">Send</button>
</form>